body {
    background-color: lightblue;
}

p#identificador {
    color: chocolate;
    margin-block-start: 2em;
}

.conclase {
    /*color: yellow !important;*/
    color: yellow;
}

p {
color: blue;
}

.formulario p {
    color: magenta;
}

.formulario h1 {
    font-style: italic;
}

.listado p {
    color: aquamarine;
}

.listado h1 {font-size: small;}

/*Para la vista de impresión sin haer otra versión*/
@media print {
    body {
        font-size: 10pt;
    }
    input[type = "button"] {
        display: none;
    }
    /* input {
        display: none;
    } */
}