:root {
  --white: #ffffff;
  --black: #000000;
  --light-blue: #1e90ff;
  --dark-blue: #1b228b;
  --light-grey: #bcbcbc;
  --dark-grey: #797979;
  --font-normal: 18px;
  --font-big: 20px;
  --radius: 0.3rem;
}

.globalfont-skin {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-normal);
}

.is-shadowed {
  box-shadow: 0px, 0px 10px;
}

.menu {
  margin: 0;
  padding: 0.5em;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 0.5em var(--dark-grey);
}

.list-skin {
  list-style: none;
}

.subnav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  padding: 0.5em 0;
}

.item a:hover {
  background-color: var(--white);
  color: var(--light-blue);
  border-radius: var(--radius);
}

.item a {
  padding: 0.5em;
  text-decoration: none;
  color: var(--white);
}

.is_rounded {
  border-radius: var(--radius);
}

.bg-dark {
  background-color: var(--dark-blue);
}

.bg-light {
  background-color: var(--grey);
}

.is-selected-skin {
  font-size: var(--font-big);
}

.active {
  background-color: var(--light-blue);
  border-radius: var(--radius);
  font-weight: bold;
}

@media all and (min-width: 650px) {
  .subnav {
    display: flex;
    flex-direction: row;
  }
  .item {
    padding: 0.5em 0.5em;
  }
}

@media all and (min-width: 900px) {
  .item {
    padding: 0.5em 1.5em;
  }
}