<h1>Calculator</h1>
<section class="calculator">
    <section id="screen">
        <output id="operation" class="operation  dark-background"></output>
        <output id="currentNumber" class="currentNumber dark-background"></output>
    </section>
    <section id="keyboard">
        <!-- TODO: <input type="text" id="ce" class="key erase dark-background" value="CE"> -->
        <input type="text" id="c" class="key erase dark-background" value="C">
        <input type="text" id="clearOne" class="key erase dark-background" value="<==">
        <input type="text" class="key operator dark-background" value="/">
        <input type="text" class="key number" value="7">
        <input type="text" class="key number" value="8">
        <input type="text" class="key  number" value="9">
        <input type="text" class="key operator dark-background" value="*">
        <input type="text" class="key  number" value="4">
        <input type="text" class="key  number" value="5">
        <input type="text" class="key  number" value="6">
        <input type="text" class="key operator dark-background" value="-">
        <input type="text" class="key  number" value="1">
        <input type="text" class="key  number" value="2">
        <input type="text" class="key  number" value="3">
        <input type="text" class="key operator dark-background" value="+">
        <!-- TODO: <input type="text" id="change-sign" class="key" value="+/-"> -->
        <input type="text" id="zero" class="key number" value="0">
        <input type="text" id="comma" class="key" value=",">
        <input type="text" class="key operator equal dark-background" value="=">
    </section>
</section>
