:root {
  --light-grey: #c1d5e0;
  --medium-grey: #90a4ae;
  --dark-grey: #29434e;
  --black: #252525;
  --white: #fff;
  --light-blue: #768fff;
  --space: 10px;
}
h1, output, input, section{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

#calculator {
  border: 1px solid var(--light-grey);
  border-radius: var(--radius);
}

#keyboard {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: var(--space);
  padding: var(--space);
}

#screen {
  border: none;
  padding: var(--space);
  display: grid;
  grid-template-rows: 2;
  background-color: var(--black);
  text-align: right;
  font-size: 2rem;
  height: 6rem;
}

.key {
  /* background-color: var(--light-grey); */
  /* background-color: grey;
  font-weight: bold;
  font-size: large; */
    background-color: var(--light-grey, #c1d5e0);
    border-radius: var(--radius);
    border: 1px solid var(--black,#252525);
    text-align: center;
    font-size: 1.5rem;
    height: 2.5rem;
}

.key:hover {
  background-color: var(--dark-grey);
}
